/* footer */
footer {
  height: 100px;
  margin-top: 150px;
  background-color: black;
}

footer .p-1 {
  color: white;
  text-align: center;
  line-height: 100px;
}

.link-footer {
  text-decoration: none;
  color: red;
}
